<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../views/partials/loadList.ejs %>

</head>
<body>

<div id="platforms"></div>

<noscript>
    <div class="need-js">

        <div class="message">
            Для работы сайта необходимо включить JavaScript
        </div>
        <div class="back">
        </div>

    </div>
</noscript>

</body>
</html>
