<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../views/partials/loadList.ejs %>

</head>
<body>
<form name="addressForm" id="addressForm" method="POST">
    <span>Точка назначения:</span>
    <input type="text" name="target" id="target">
    <input type="submit">
</form>
<div id="adresses"></div>
<div id="platforms"></div>
<div id="route"></div>
<noscript>
    <div class="need-js">
        <div class="message">
            Для работы сайта необходимо включить JavaScript
        </div>
        <div class="back">
        </div>

    </div>
</noscript>

</body>
</html>
